DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=jimpitan_digital
DB_PORT=3306

JWT_SECRET=ganti_dengan_secret_yang_aman
JWT_EXPIRES_IN=7d
PORT=3000

# Isi dengan URL ngrok backend kamu saat sudah jalan
# Contoh: https://abcd-1234.ngrok-free.app
API_NGROK_URL=

# Midtrans Sandbox/Production
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
